/node_modules
/.idea
/package-lock.json

#ignore .commitinfo created by ioBroker release script
.commitinfo
/src-widgets/node_modules
/src-widgets/build
/src-widgets/.__mf__temp
/widgets/vis-2-widgets-metro
/src-widgets/preview/.vite
/src-widgets/preview/dist
/src-widgets/preview/.diff
/src-widgets/.check
